h1,
h2,
h3 {
    font-family: "Lato", sans-serif;
}

.header-div {
    text-align: right;
}

.blue-text {
    color: rgb(2, 179, 228);
}

.job-title-header {
    font-size: 16px;
    font-style: oblique;
}

.project-image {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-header {
    color: #F8981C;
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

[class*="zocial-"]:before {
  color: #F8981C;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  font-size: 16px;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}

.social-media-list {
    list-style-type: none;
    text-align: center;
    margin-top: 30px;
}

.social-media-list-item {
    display: inline-block;
}

.social-media-list-item {
    margin-right: 1em;
}

.social-media-list li:last-of-type {
    margin: 0;
}

@media screen and (max-width: 995px ) {

    .header-div {
        text-align: center;
    }

    .logo-container {
        display: none;
    }

    .project {
        background-color: #F8981C;
        border-radius: 15px;
        padding: 25px 0 15px 0;
        margin: 0 10px 20px 10px;
    }

    .project-image {
        border: 2px solid black;
    }

    .project-intro-header {
        text-align: center;
    }

    .project-header {
        color: white;
    }

}

@media screen and (max-width: 540px) {

    .social-media-list {
        text-align: initial;
    }

    .social-media-list-item {
        display: list-item;
        margin: 0 0 5px 0;
    }

    .social-media-list li:last-of-type {
        margin: 0;
    }

}
