body {
    font-family: 'Lato', sans-serif; /* TODO: IS THIS WORKING? */;
    font-size: 14px;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

.headerDiv {
    text-align: right;
}

.blue-text {
    color: rgb(2, 179, 228);
}

.job-title-header {
    font-size: 16px;
    font-style: oblique;
}

.project-image {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-header {
    color: #F8981C;
    text-transform: uppercase;
}


/* Prevent overflow */
img {
    max-width: 100%;
}

/* Make sure buttons are big enough to be tapped on mobile devices */
/* TODO: DO I HAVE ANY OF THESE? */;
nav a, button {
    min-width: 48px;
    min-height: 48px;
}

[class*="zocial-"]:before {
  color: #F8981C;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  font-size: 16px;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}

.social-media-list {
    list-style-type: none;
    text-align: center;
    margin-top: 30px;
}

.social-media-list-item {
    display: inline-block;
}

.social-media-list-item {
    margin-right: 1em;
}

ul.social-media-list li:last-of-type {
    margin: 0;
}

@media screen and (max-width: 995px ) {

    .headerDiv {
        text-align: center;
    }

    .project {
        background-color: #F8981C;
        padding-top: 25px;
        padding-bottom: 15px;
        border-radius: 15px;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .project-image {
        border: 2px solid black;
    }

    .project-intro-header {
        text-align: center;
    }

    .project-header {
        color: white;
    }

}

@media screen and (max-width: 540px) {

    .social-media-list {
        text-align: initial;
    }

    .social-media-list-item {
        display: list-item;
        margin-right: 0px;
        margin-bottom: 5px;
    }

    ul.social-media-list li:last-of-type {
        margin: 0;
    }

}